alphabet-detector==0.0.7
anytree==2.4.3
beautifulsoup4==4.6.0
chardet==3.0.4
fuzzywuzzy==0.15.1
geocoder==1.38.1
geographiclib==1.49
geopy==1.19.0
geotext==0.4.0
google-api-python-client==1.6.4
graphviz==0.8.1
gspread==0.6.2
hebrew-tokenizer==1.0.1
lxml==3.7.3
nbconvert==5.2.1
nbformat==4.3.0
notebook==5.0.0
numpy==1.11.2
oauth2client==4.1.2
oauthclient==1.0.3
oauthlib==2.0.3packaging==16.8
pandas==0.20.3
pandas-profiling==1.4.2
pandocfilters==1.4.2
plotly==2.2.3
polyglot==16.7.4
pprint==0.1
urllib3==1.22
virtualenv==15.1.0
xlrd==1.0.0
XlsxWriter==0.9.8